<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Page</title>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }

    div {
      display: flex;
      align-items: center;
      padding: 1em;
      font-size: 1.2em;
    }

    div a {
      padding-left: 0.5em;
    }
  </style>
</head>
<body>
  <h1>Greetings on page of {{user.name.full}}</h1>

  <ul>
    <div>
      <img src="/profilePics/{{user.username}}_lg.jpg" alt="{{user.username}} photo">
    </div>
  </ul>

</body>
</html>